
@using Karion.BusinessSolution.Web.Areas.App.Models.Common.Modals
@using Karion.BusinessSolution.Web.Areas.App.Models.ThongTinDonVies
@model ThongTinDonViViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ThongTinDonViInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Key") :</h6>
                @Model.ThongTinDonVi.Key
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Value") :</h6>
                @Model.ThongTinDonVi.Value
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

