@using Karion.BusinessSolution.Authorization
@using Karion.BusinessSolution.Web.Areas.App.Startup

@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/ThongKeBaoCaos/Index.js" asp-append-version="true"></script>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


    <div class="kt-subheader kt-grid__item">
        <div class="@(await GetContainerClass())">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>@L("ThongTinBacSiMoRongs")</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    @L("ThongTinBacSiMoRongsHeaderInfo")
                </span>
            </div>
        </div>
    </div>
    
</div>