@using Karion.BusinessSolution.Web.Areas.App.Models.Common.Modals
@model ModalHeaderViewModel
<div class="modal-header">
    <h5 class="modal-title">
        <span>Chi tiết</span>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
</div>